<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.registration.mapper.SiteMapper">
  <resultMap id="BaseResultMap" type="com.exam.registration.model.Site">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="CHAR" property="code" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, code, address, create_time, update_time, is_deleted
  </sql>
  <select id="countSites" resultType="java.lang.Long">
    select count(*) from site
    <where>
      <if test="keyword != null and keyword != ''">
        id = #{keyword,jdbcType=BIGINT}
        or
        code = #{keyword,jdbcType=CHAR}
        or
        `name` = #{keyword,jdbcType=CHAR}
      </if>
    </where>
  </select>
  <select id="listSites" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from site
    where is_deleted = 0
  </select>
  <select id="listSitesByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from site
    <where>
      <if test="keyword != null and keyword != ''">
        id = #{keyword,jdbcType=BIGINT}
        or
        code = #{keyword,jdbcType=CHAR}
        or
        `name` = #{keyword,jdbcType=CHAR}
      </if>
    </where>
    limit #{currentIndex}, #{pageSize}
  </select>
  <select id="getSiteByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from site
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getSiteByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from site
    where code = #{code,jdbcType=CHAR}
  </select>
  <delete id="deleteSiteByPrimaryKey" parameterType="java.lang.Long">
    delete from site
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteSiteByPrimaryKeys" parameterType="java.lang.Long">
    delete from site
    where id in (${ids})
  </delete>
  <insert id="insertSite" parameterType="com.exam.registration.model.Site">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into site (`name`, code, address, 
      create_time, update_time, is_deleted
      )
    values (#{name,jdbcType=VARCHAR}, #{code,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSiteSelective" parameterType="com.exam.registration.model.Site">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateSiteByPrimaryKeySelective" parameterType="com.exam.registration.model.Site">
    update site
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateSiteByPrimaryKey" parameterType="com.exam.registration.model.Site">
    update site
    set `name` = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>