<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.registration.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.exam.registration.model.Student">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="id_card_number" jdbcType="CHAR" property="idCardNumber" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="salt" jdbcType="CHAR" property="salt" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="id_card_pic" jdbcType="VARCHAR" property="idCardPic" />
    <result column="provincial_examinee_pic" jdbcType="VARCHAR" property="provincialExamineePic" />
    <result column="provincial_examinee_number" jdbcType="CHAR" property="provincialExamineeNumber" />
    <result column="profile_pic" jdbcType="VARCHAR" property="profilePic" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, id_card_number, `name`, `password`, salt, sex, phone, address, school, email, 
    id_card_pic, provincial_examinee_pic, provincial_examinee_number, profile_pic, login_time, 
    create_time, update_time, is_deleted
  </sql>
  <select id="listStudents" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where is_deleted = 0
  </select>
  <select id="listStudentsByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    <where>
      <if test="keyword != null and keyword != ''">
        id = #{keyword,jdbcType=BIGINT}
        or
        id_card_number = #{keyword,jdbcType=CHAR}
        or
        `name` = #{keyword,jdbcType=CHAR}
      </if>
    </where>
    limit #{currentIndex}, #{pageSize}
  </select>
  <select id="getStudentByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteStudentByPrimaryKey" parameterType="java.lang.Long">
    delete from student
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteStudentByPrimaryKeys" parameterType="java.lang.String">
    delete from student
    where id in (${ids})
  </delete>
  <delete id="deleteStudentByIdCardNumber" parameterType="java.lang.String">
    delete from student
    where id_card_number = #{id_card_number,jdbcType=CHAR}
  </delete>
  <insert id="insertStudent" parameterType="com.exam.registration.model.Student">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student (id_card_number, `name`, `password`,
    salt, sex, phone, address,
    school, email, id_card_pic,
    provincial_examinee_pic, provincial_examinee_number,
    profile_pic, login_time, create_time,
    update_time, is_deleted)
    values (#{idCardNumber,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{password,jdbcType=CHAR},
    #{salt,jdbcType=CHAR}, #{sex,jdbcType=CHAR}, #{phone,jdbcType=CHAR}, #{address,jdbcType=VARCHAR},
    #{school,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{idCardPic,jdbcType=VARCHAR},
    #{provincialExamineePic,jdbcType=VARCHAR}, #{provincialExamineeNumber,jdbcType=CHAR},
    #{profilePic,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertStudentSelective" parameterType="com.exam.registration.model.Student">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idCardNumber != null">
        id_card_number,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="idCardPic != null">
        id_card_pic,
      </if>
      <if test="provincialExamineePic != null">
        provincial_examinee_pic,
      </if>
      <if test="provincialExamineeNumber != null">
        provincial_examinee_number,
      </if>
      <if test="profilePic != null">
        profile_pic,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idCardNumber != null">
        #{idCardNumber,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=CHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="idCardPic != null">
        #{idCardPic,jdbcType=VARCHAR},
      </if>
      <if test="provincialExamineePic != null">
        #{provincialExamineePic,jdbcType=VARCHAR},
      </if>
      <if test="provincialExamineeNumber != null">
        #{provincialExamineeNumber,jdbcType=CHAR},
      </if>
      <if test="profilePic != null">
        #{profilePic,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countStudents" parameterType="java.lang.String" resultType="java.lang.Long">
    select count(*) from student
    <where>
      <if test="keyword != null and keyword != ''">
        id = #{keyword,jdbcType=BIGINT}
        or
        id_card_number = #{keyword,jdbcType=CHAR}
        or
        `name` = #{keyword,jdbcType=CHAR}
      </if>
    </where>
  </select>
  <update id="updateStudentByPrimaryKeySelective" parameterType="com.exam.registration.model.Student">
    update student
    <set>
      <if test="idCardNumber != null">
        id_card_number = #{idCardNumber,jdbcType=CHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=CHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="idCardPic != null">
        id_card_pic = #{idCardPic,jdbcType=VARCHAR},
      </if>
      <if test="provincialExamineePic != null">
        provincial_examinee_pic = #{provincialExamineePic,jdbcType=VARCHAR},
      </if>
      <if test="provincialExamineeNumber != null">
        provincial_examinee_number = #{provincialExamineeNumber,jdbcType=CHAR},
      </if>
      <if test="profilePic != null">
        profile_pic = #{profilePic,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateStudentByPrimaryKey" parameterType="com.exam.registration.model.Student">
    update student
    set id_card_number = #{idCardNumber,jdbcType=CHAR},
      `name` = #{name,jdbcType=CHAR},
      `password` = #{password,jdbcType=CHAR},
      salt = #{salt,jdbcType=CHAR},
      sex = #{sex,jdbcType=CHAR},
      phone = #{phone,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      id_card_pic = #{idCardPic,jdbcType=VARCHAR},
      provincial_examinee_pic = #{provincialExamineePic,jdbcType=VARCHAR},
      provincial_examinee_number = #{provincialExamineeNumber,jdbcType=CHAR},
      profile_pic = #{profilePic,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getStudentByIdCardNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where id_card_number = #{id_card_number,jdbcType=CHAR}
  </select>
</mapper>