<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.registration.mapper.SubjectMapper">
  <resultMap id="BaseResultMap" type="com.exam.registration.model.Subject">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="major_id" jdbcType="BIGINT" property="majorId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="CHAR" property="code" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, major_id, `name`, code, `type`, create_time, update_time, is_deleted
  </sql>
  <select id="countSubjects" resultType="java.lang.Long">
    select count(*) from subject
  </select>

  <select id="listSubjects" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from subject
    where is_deleted = 0
  </select>
  <select id="getSubjectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subject
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getSubjectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from subject
    where code = #{code,jdbcType=CHAR}
  </select>
  <delete id="deleteSubjectByPrimaryKey" parameterType="java.lang.Long">
    delete from subject
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSubject" parameterType="com.exam.registration.model.Subject">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into subject (major_id, `name`, code, 
      `type`, create_time, update_time, 
      is_deleted)
    values (#{majorId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=CHAR}, 
      #{type,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSubjectSelective" parameterType="com.exam.registration.model.Subject">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="majorId != null">
        major_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="majorId != null">
        #{majorId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateSubjectByPrimaryKeySelective" parameterType="com.exam.registration.model.Subject">
    update subject
    <set>
      <if test="majorId != null">
        major_id = #{majorId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=CHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateSubjectByPrimaryKey" parameterType="com.exam.registration.model.Subject">
    update subject
    set major_id = #{majorId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=CHAR},
      `type` = #{type,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>